<!doctype html>
%html
  %head
    <meta charset="utf-8">
    <meta name="viewport" content="width=550">
    %title #{@name}'s Invitation
    <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
  :scss
    body {
      font-family: 'Lato', Calibri, Arial, sans-serif;
      color: #fff;
      background: #4fc3f7;
      font-weight: 300;
      overflow-x: hidden;
    }
    .main {
      max-width: 50em;
      padding: 1em 2em;
      margin: 0 auto;
    }
    p { font-size: 3em; }
    a {
      color: #fff;
      text-decoration: none;
      border-bottom: 1px solid #fff;
    }
    .make-it { line-height: 180%; }
    .circle {
      width: 100px;
      height: 100px;
      margin: 0 10px;
      text-align: center;
      line-height: 150%;
      display: inline-block;
      vertical-align: middle;
      font-size: 0.7em;
      border: 2px solid #fff;
      border-radius: 100%;
      position: relative;
      & > .center {
        height: 27px;
        margin: auto;
        display: block;
        position: absolute;
        top: -27px;
        bottom: 0;
        right: 0;
        left: 0;
      }
      cursor: pointer;
      transition: background-color 0.2s;
      &.response-yes:hover { background-color: #27ae60; }
      &.response-no:hover { background-color: #c0392b; }
    }
    .thanks, .sending {
      font-size: 0.6em;
      display: none;
    }
  %body
    .main
      = yield
